# compiled
**/__pycache__/
*.pyc

# ignore models
*.pt

# ignore pretrained models and wili data
src/lstm/models 
src/lstm/data

# ignore anna directory
src/lstm/reports_exclude

# jupyter
**/.ipynb_checkpoints/
src/lstm/models/

# jupyter
**/.ipynb_checkpoints/

# data
src/gpt-2-LI/data/wili-2018/
src/c2v/data/wili-2018/
src/c2v/models/

# gpt models
src/gpt-2-LI/models/gpt/

# skipgram models
src/c2v/models


